footer{
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/335/917/183/cats-pattern-art-illustration-wallpaper-preview.jpg);
    background-position-x: 100%;
    color: #fafafa;
    padding: 3rem; 
    .fuenteParrafo{font-size: 1.8rem;}
    div{display: flex;
        justify-content: space-evenly;
        margin: 1.5rem;}
}

.logoContainerF{
    height: 30px;
    width: 30px;
}