@import "./navbar";
@import "./footer";
@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*{margin: 0;
padding: 0;}

h1{text-align: center;
font-family: 'Monofett', monospace;
font-size: 3rem;
background-image: url(https://p4.wallpaperbetter.com/wallpaper/335/917/183/cats-pattern-art-illustration-wallpaper-preview.jpg);
color: #fafafa;}

.container{
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.textIntro{font-family:'Modak', cursive;
    align-items: center;
    display: flex;
    height: 150px;
    justify-content: center;
    margin: 50px;
    width: 100%;
    color: #fafafa;}

.imgAjustada{
    box-sizing: border-box;
    width: 500px;
    border: solid #fafafa 5px;
    border-radius: 5px;
    padding: 2px;
    margin-right: auto;
    margin-left: auto;
    display: block; 
    }      

.imgAjustada2{
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    transition: 0.8s;
    &:hover
    {-webkit-transform:scale(1);transform:scale(1); height: 450px;
    }}

.card-body{background-image: url(../img/background-body.jpg);
background-size: cover;
background-position: center;
h5{color: aquamarine;}
p{color:whitesmoke}}

.videoLado {display: flex;
justify-content: space-around;
height: 500px;}

.centrarContenido {display: flex;
justify-content: center;
padding: 50px;}

@media only screen and (max-width: 768px){
    .container{background-image: url(../img/bg-img2.jpg);}
    
    .videoLado{display: grid;
        grid-template-columns: auto;
        padding: 3px;
        margin-bottom: 3px;
        padding-block: 3px;
        top: 3px;;
        left: 0;
        width: 100%;
        height: auto;}

    video{width: 400px;
        padding: 10px;}   

    .navbar ul li{display: flex;
        flex-direction: column;
        margin-block-end: auto;
        padding-left: 100px;
        padding-bottom: 5px;
        a{color: #fafafa;}

        &:before{font-size: 30px;
            text-decoration:underline;
        background: #fafafa;
        bottom: 10px;
        left: 100px;
        }
        &:hover::before{width: 60%;}}
        
        .logoNavbar{display: none;}

        .logoNavbar2{display:block;
        margin-right: 500px;
        position: relative;}

    .textIntro{align-items: center;
        display: flex;
        height: 80px;
        justify-content: center;
        margin: 0;
        margin-bottom: 40px;
        margin-top: 20px;
        width: 100%;
        box-sizing: content-box;}

    .card-group {display: grid; 
        grid-template-columns: auto;
        padding: 1px;} 
    
    .imgAjustada2 {width: auto;
        height: 200px;&:hover
        {-webkit-transform:scale(1);transform:scale(1); height: 700px;
        }} 
    
    .centrarContenido {padding-bottom: 50px;}

    footer{background-position-y: center;
        background-repeat: round;}

    body{overflow-x: hidden;}

}